celltrack_vis/static/celltrack_vis/data/celltracking_results/BF-C2DL-HSC-01/KIT-Sch-GE/SEG.json filter=lfs diff=lfs merge=lfs -text
celltrack_vis/static/celltrack_vis/data/celltracking_results/BF-C2DL-HSC-02/KIT-Sch-GE/SEG.json filter=lfs diff=lfs merge=lfs -text
celltrack_vis/static/celltrack_vis/data/celltracking_results/BF-C2DL-HSC-01/MU-Lux-CZ/SEG.json filter=lfs diff=lfs merge=lfs -text
celltrack_vis/static/celltrack_vis/data/celltracking_results/BF-C2DL-HSC-02/MU-Lux-CZ/SEG.json filter=lfs diff=lfs merge=lfs -text
