{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

.node circle {
  /* fill: #999; */
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 10px;
  top: 10px;
}

label {
  display: block;
}

</style>
<form>
  <label><input type="radio" name="mode" value="cluster" checked> Dendrogram</label>
  <label><input type="radio" name="mode" value="tree"> Tree</label>
</form>
<!-- <form>
  <label><input type="radio" name="data" value="BF-C2DL-HSC" checked>BF-C2DL-HSC</label>
</form> -->
<svg width="960" height="2400"></svg>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    g = svg.append("g").attr("transform", "translate(40,0)");

var tree = d3.tree()
    .size([height - 400, width - 160]);

var cluster = d3.cluster()
    .size([height, width - 160]);

var stratify = d3.stratify()
    .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf(".")); });

let datasetList = [
  'BF-C2DL-HSC', 
  'BF-C2DL-MuSC', 
  'DIC-C2DH-HeLa', 
  'Fluo-C2DL-MSC', 
  'Fluo-C3DH-A549', 
  'Fluo-C3DH-H157', 
  'Fluo-C3DL-MDA231',
  'Fluo-N2DH-GOWT1',
  'Fluo-N2DH-SIM+',
  'Fluo-N2DL-HeLa',
  'Fluo-N3DH-CE',
  'Fluo-N3DH-CHO',
  'Fluo-N3DH-SIM+',
  'PhC-C2DH-U373',
  'PhC-C2DL-PSC'
]

Promise.all([
  d3.csv("{% static 'celltrack_vis/data/celltracking_results/KIT-Sch-GE/Fluo-C2DL-MSC/01_RES/parsed_track.txt' %}"),
  d3.csv("{% static 'celltrack_vis/data/celltracking_results/KIT-Sch-GE/Fluo-C2DL-MSC/02_RES/parsed_track.txt' %}"),
]).then(function(files) {
  let elements = [];
  files.forEach(function (data, index) {
    g = svg.append("g").attr("transform", "translate(40,0)");

    var root = stratify(data);

    tree(root);
    
    var randomColor = "#" + Math.round(Math.random() * 0xffffff).toString(16);
    
    var link = g.selectAll(".link")
      .data(root.descendants().slice(1))
      .enter().append("path")
      .attr("class", "link")
      .attr("d", diagonal);
    
    var node = g.selectAll(".node")
      .data(root.descendants())
      .enter().append("g")
      .attr("class", function(d) { return "node" + (d.children ? " node--internal" : " node--leaf"); })
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
    
    node.append("circle")
      .attr("r", 2.5)
      .attr("fill", randomColor);

    node.append("text")
      .attr("dy", 3)
      .attr("x", function(d) { return d.children ? -8 : 8; })
      .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
      .text(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1); });

    element = [root, node, link];
    elements.push(element);
  });

  d3.selectAll("input")
      .on("change", changed);

  var timeout = setTimeout(function() {
    d3.select("input[value=\"tree\"]")
        .property("checked", true)
        .dispatch("change");
  }, 1000);

  function changed() {
    console.log(elements);
    // timeout = clearTimeout(timeout);
    var t = d3.transition().duration(750);
    console.log(this.value);
    elements.forEach(function (data, index) {
      timeout = clearTimeout(timeout);
      console.log(data);
      (this.value === "tree" ? tree : cluster)(data[0]);
      data[1].transition(t).attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
      data[2].transition(t).attr("d", diagonal);
    });
  }
}).catch(function(error) {
  console.log("There was an error...", error);
})

// d3.csv("{% static 'celltrack_vis/data/celltracking_results/BF-C2DL-HSC/02_RES/parsed_track.txt' %}", function(error, data) {
//   if (error) throw error;
  
//   var root = stratify(data)
//       // .sort(function(a, b) { return (a.height - b.height) || a.id.localeCompare(b.id); });

//   cluster(root);

//   var link = g.selectAll(".link")
//       .data(root.descendants().slice(1))
//     .enter().append("path")
//       .attr("class", "link")
//       .attr("d", diagonal);

//   var node = g.selectAll(".node")
//       .data(root.descendants())
//     .enter().append("g")
//       .attr("class", function(d) { return "node" + (d.children ? " node--internal" : " node--leaf"); })
//       .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

//   node.append("circle")
//       .attr("r", 2.5);

//   node.append("text")
//       .attr("dy", 3)
//       .attr("x", function(d) { return d.children ? -8 : 8; })
//       .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
//       .text(function(d) { return d.id.substring(d.id.lastIndexOf(".") + 1); });

//   d3.selectAll("input")
//       .on("change", changed);

//   var timeout = setTimeout(function() {
//     d3.select("input[value=\"tree\"]")
//         .property("checked", true)
//         .dispatch("change");
//   }, 1000);

//   function changed() {
//     timeout = clearTimeout(timeout);
//     (this.value === "tree" ? tree : cluster)(root);
//     var t = d3.transition().duration(750);
//     node.transition(t).attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });
//     link.transition(t).attr("d", diagonal);
//   }
// });

function diagonal(d) {
  return "M" + d.y + "," + d.x
      + "C" + (d.parent.y + 100) + "," + d.x
      + " " + (d.parent.y + 100) + "," + d.parent.x
      + " " + d.parent.y + "," + d.parent.x;
}

</script>
</html>