<!DOCTYPE html>
<meta charset="utf-8">
<style>
  .link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  }

  .node circle {
    /* fill: #999; */
  }

  .node text {
    font: 10px sans-serif;
  }

  .node--internal circle {
    fill: #555;
  }

  .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
</style>

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>


<script>

var width = 1500
var height = 4000

var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width)
    .attr("height", height);

var g = svg.append("g")
    .attr("transform", "translate(40,0)");

d3.json("https://api.jsonbin.io/b/611f47072aa80036126ce026/1", function(data) {
  var cluster = d3.cluster()
    .size([height, width-100]);
  
  var tree = d3.tree()
    .size([height, width-100]);

  var root = d3.hierarchy(data, function(d) {
    return d.children;
  });

  tree(root);

  var descendants = root.descendants();

  var node = g.selectAll(".node")
    .data(root.descendants())
    .enter().append("g")
    .attr("transform", function(d) {
      if (d.depth == 0) return;
      // console.log(d3.select(this.parentNode).attr("transform"));
      return "translate(" + d.data.start + "," + (d.x - 1) + ")";
    })
    .on("click", click);
  
  node.append("rect")
    .attr("width", function(d) {
      return d.data.end - d.data.start;
    })
    .attr("height", 5)
    .attr("fill", function(d) {
      return d._children ? "salmon" : "red";
    });
      
  var link = g.selectAll(".link")
    .data( root.descendants().slice(1) )
    .enter().append("path")
    .attr("class", "link")
    .attr("d", function(d) {
      if (d.depth == 1) return;
      var parentX = d.parent.x;
      var parentY = d.data.start;
      return "M" + parentY + "," + d.x
              + "C" + (parentY) + "," + d.x
              + " " + (parentY) + "," + parentX
              + " " + parentY + "," + parentX;
    });
  
  // update(root);
  
  function update(source) {
    
    var nodeUpdate = node.transition()
      .duration(750)
      .attr("transform", function(d) {
        return "translate(" + d.y + "," + d.x + ")";
      });
    
    var nodeExit = node.exit().transition()
      .duration(750)
      .attr("transform", function(d) {
        return "translate(" + source.y + "," + source.x + ")";
      })
      .remove();
    
    nodeExit.select("rect")
      .style("fill-opacity", 1e-6);
    
    link.transition()
      .duration(750)
      .attr("d", function(d) {
        if (d.depth == 1) return;
        // console.log(d);
        var parentX = d.parent.x;
        var parentY = d.data.start;
        return "M" + parentY + "," + d.x
                + "C" + (parentY) + "," + d.x
                + " " + (parentY) + "," + parentX
                + " " + parentY + "," + parentX;
      });
    
    link.exit().transition()
      .duration(750)
      .attr("d", function(d) {
        var o = {
          x: source.x,
          y: source.y
        };
        return diagonal({
          source: o,
          target: o
        });
      })
      .remove();
  }

  function click(d) {
    console.log(d);
    if (d.children) {
      d._children = d.children;
      d.children = null;
    } else {
      d.children = d._children;
      d._children = null;
    }
    // update(d);
  }
})

</script>