{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    .grid {
        opacity: 0.5;
        color: silver;
    }

    #table_div {
        overflow: auto;
    }

    .ticks {
        font-size: 10px;
    }

    .track,
    .track-inset,
    .track-overlay {
        stroke-linecap: round;
    }

    .track {
        stroke: #000;
        stroke-opacity: 0.3;
        stroke-width: 10px;
    }

    .track-inset {
        stroke: #dcdcdc;
        stroke-width: 8px;
    }

    .track-overlay {
        pointer-events: stroke;
        stroke-width: 50px;
        stroke: transparent;
        cursor: crosshair;
    }

    .sidebar {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .overlay {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #structure-outer {
        position: relative;
        top: 300px;
        left: 100px;
        width: 20%;
        height: 400px;
        padding: 20px;
        background-color: lightgray;
    }

    #structure {
        margin-top: 10px;
    }

    #dialog-button {
        text-align: center;
    }

    #dialog-close-button, #structure-close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
    }

    .dialog-row {
        margin-bottom: 10px;
    }

    .dialog-row:last-of-type {
        display: flex;
        justify-content: center;
    }

    .row-content {
        padding: 5px;
    }

    .file-content, .checked-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .checked-row {
        cursor: row-resize;
    }

    .close {
        cursor: pointer;
    }

    .dialog {
        top: 25%;
        left: 40%;
        width: 20%;
        height: 200px;
        padding: 20px;
        background-color: lightgray;
        position: relative;
    }

    .checked-row-content {
        display: flex;
        align-items: center;
    }

    .checked-color {
        cursor: default;
        border: 1px solid black;
        width: 22px;
        height: 22px;
        margin-right: 5px;
    }
    .checked-color-inner {
        width: 20px;
        height: 20px;
    }

    .checked-content {
        font-size: 12px;
    }

    #grid_div {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }

    #title_div {
        padding-top: 50px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;

    }


    #author_div {
        font-size: 20px;
        text-align: center;
        color: gray;
    }

    #checked_div {
        background-color: #f0f4f9;
        height: 200px;
    }

    #table_div {
        border: 1px dashed gray;
        height: 100%;
        background-color: #f0f4f9;
        font-size: 12px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #time_div {
        background-color: #f0f4f9;
    }

    #seg_div {
        background-color: #f0f4f9;
    }

    #linegraph_div {
        background-color: #f0f4f9;
    }

    #lineage_div {
        background-color: #f0f4f9;
        overflow: auto;
    }

    .row-content--active {
        background-color: rgba(0, 125, 193, 0.4);
    }

    .mdi {
        margin-right: 5px;
    }

    .json {
        color: gray;
    }

    .dir {
        color: orange;
    }

    .depth-1 {
        margin-left: 10px;
    }

    .depth-2 {
        margin-left: 20px;
    }

    .depth-3 {
        margin-left: 30px;
    }

    .depth-4 {
        margin-left: 40px;
    }

    .depth-5 {
        margin-left: 50px;
    }

</style>
<script src="https://d3js.org/d3.v7.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"></link>
{#<form>#}
{#    <label><input type="radio" name="mode" value="cluster" checked> Dendrogram</label>#}
{#    <label><input type="radio" name="mode" value="tree"> Tree</label>#}
{#</form>#}
<body style="background-color: #98A3DF; height:100%">
<div class="container-fluid">
    <div class="overlay">
        <div class="dialog">
            <span class="mdi mdi-close" id="dialog-close-button"></span>
            <div class="dialog-row">
                <label for="opacity">opacity</label>
                <input type="range" id="opacity" name="opacity" min="0.0" max="1.0" step="0.01" style="width: 200px;">
            </div>
            <div class="dialog-row">
                <label for="color">color</label>
                <input type="color" id="color" name="color" value="#FFFFFF">
            </div>
            <div class="dialog-row">
                <button id="dialog-button">Submit</button>
            </div>
        </div>
        <div id="structure-outer">
            <span class="mdi mdi-close" id="structure-close-button"></span>
            <div id="structure"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <img class="fit-picture"
                 src="{% static 'celltrack_vis/image/KUDL_logo_EN_transparent.png' %}"
                 alt="Korea University Database Lab"
                 style="width:100%">
        </div>
        <div id="title_div" class="col-8">
            XXXXX : A comparative visual analytic system for celltracking algorithms
        </div>
        <div class="col-2"></div>

        <div id="author_div" class="col-12">
            ...
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="buttons">
            <button type="button" class="btn btn-primary data-load-button">Data load</button>
            <button type="button" class="btn btn-primary">Request data upload</button>
            <button type="button" class="btn btn-info">Tutorial</button>
            <button type="button" class="btn btn-success">Quick trip</button>
            {#            <button type="button" class="btn btn-danger">Danger</button>#}
            {#            <button type="button" class="btn btn-warning">Warning</button>#}
            {#            <button type="button" class="btn btn-info">Info</button>#}
            {#            <button type="button" class="btn btn-success">Quick trip</button>#}
            {#            <button type="button" class="btn btn-light">Light</button>#}
            {#            <button type="button" class="btn btn-dark">Dark</button>#}
        </div>
    </div>

    <div class="row" style="margin-top: 30px; height:1200px">
        <div class="sidebar col-3">
            <div id="checked_div"></div>
            <div id='table_div'>
                <svg id="table_svg" height="2000">
                    <g class="table-rows"></g>
                    <g class="header"></g>
                </svg>
            </div>
        </div> 
        <div class="col-9">
            <div class="row" style="border: 1px dashed gray;">
                <div id="linegraph_div" class="col-12">
                    <svg id="linegraph_svg" width="100%" height="100px">

                    </svg>
                </div>
                <div id="time_div" class="col-12">
                    <svg id="time_svg" width="100%" height="100px">

                    </svg>
                </div>
                <div class=row>
                    <div id='seg_div' class="col-7" style="float: left">
                        <div class="row" style="display:inline-block; flex: 0 0 auto; padding-left:0; padding-right:0">
                            <div id="grid_div" width="800" height="800" style="padding-left:0; padding-right:0">
                                <svg id="seg_svg" width="800" height="800">
                                    <defs></defs>
                                </svg>
                            </div>
                            <div id="seg_minimap_div">
                                <svg id="seg_minimap_svg">
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div id='lineage_div' class="col-5" height=650 width=650 style="float: left">
                        <svg height=3200 width=38000 overflow="auto"></svg>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div id="menu_div" class="col-12">
            <svg id="menu_svg" width="100%">
            </svg>
        </div>
    </div>
</div>


<script type="text/javascript">
    let data_paths = {{ paths }};
    let seg_div = document.getElementById("seg_div"),
        table_div = document.getElementById("table_div");
    let seg_svg = d3.select("#seg_svg"),
        seg_main_container = seg_svg.append('g').attr('id', 'seg_main_container'),
        grid_bg = seg_main_container.append("g").attr('class', 'grid-bg'),
        grid_vg = seg_main_container.append("g"),
        grid_hg = seg_main_container.append("g"),
        seg_g = seg_main_container.append("g").attr('id', 'seg_g'),
        seg_width = Math.min(seg_div.clientWidth, 800) // seg height
    seg_svg.attr('width', seg_width)
    let num_timestep = 0
    let num_cells = 1000
    let img_width = 1010,
        img_height = 1010;
    let seg_scale = d3.scaleLinear()
        .domain([0, img_width])
        .range([0, seg_width]);

    let main_dataset = {},
        comparative_datasets = [],
        candidate_datasets = [];

    let color_tableau = d3.scaleOrdinal(d3.schemeTableau10);

    let color_cell = d3.scaleOrdinal(d3.interpolateTurbo)

    function zeroPad(nr, base) {
        let len = (String(base).length - String(nr).length) + 1;
        return len > 0 ? new Array(len).join('0') + nr : nr;
    }

    {#zeroPad(1, 10);   //=> 01#}
    {#zeroPad(1, 100);  //=> 001#}
    {#zeroPad(1, 1000); //=> 0001#}

    function draw_grid() {

        seg_svg.attr('viewBox')
        let gridverticallines = d3.axisTop()
            .tickFormat("")
            .ticks(img_width / 10)
            .tickSize(-seg_width)
            .scale(seg_scale);

        let gridhorizontallines = d3.axisLeft()
            .tickFormat("")
            .ticks(img_height / 10)
            .tickSize(-seg_width)
            .scale(seg_scale);


        grid_bg
            .append('rect')
            .attr('width', seg_width)
            .attr('height', seg_width)
            .attr('x', 0)
            .attr('y', 0)

        grid_vg
            .attr("class", "grid")
            .call(gridverticallines);
        grid_hg
            .attr("class", "grid")
            .call(gridhorizontallines);

        let t = 0
        {##}
        d3.select('#seg_svg')
            .select('defs')
            .append('pattern')
            .attr('id', 'seg_bg')
            .attr('patternUnits', 'userSpaceOnUse')
            .attr('width', seg_width)
            .attr('height', seg_width)
            .append('image')
            .attr("width", seg_width)
            .attr("height", seg_width)
            .attr("x", 0)
            .attr("y", 0);
        {##}
        {#let mask = d3.select('#seg_svg')#}
        {#    .select('defs')#}
        {#    .append('filter')#}
        {#    .attr('id', 'minus')#}
        {##}
        {#mask.append('feComposite')#}
        {#    .attr('in2', 'SourceGraphic')#}
        {#    .attr('operator', 'in')#}
        {#            {% comment %}.attr('type', 'linear')#}
        {#            .attr('intercept', '-.05')#}
        {#        mask.append('feComponentTransfer')#}
        {#            .append('feFuncA')#}
        {#            .attr('type', 'gamma')#}
        {#            .attr('amplitude', '4')#}
        {#            .attr('exponent', '.4'){% endcomment %}#}

        {##}
        {#mask.append('rect')#}
        {#    .attr('class', 'cell')#}
        {#    .attr('x', 0)#}
        {#    .attr('y', 0)#}
        {#    .attr('width', 1000)#}
        {#    .attr('height', 1000)#}
        {#mask.append('use')#}
        {#    .attr('xlink:href', '.data-0')#}
        {#    .attr('fill', 'white')#}
        {#mask.append('use')#}
        {#    .attr('xlink:href', '.data-1')#}
        {#    .attr('fill', 'black')#}
        {#d3.select('#seg_svg')#}
        {#    .append('use')#}
        {#    .attr('xlink:href', '.cell')#}
        {#    .attr('mask', 'url(#minus)')#}

    }

    function draw_cells(di, timestep) {


        d3.select('#seg_svg')
            .select('defs')
            .select('pattern')
            .select('image')
            .attr('xlink:href', "{% static 'celltrack_vis/data/celltracking_results/BF-C2DL-HSC/input/images/01/t' %}" + zeroPad(timestep, 1000) + '.jpg')

        grid_bg.select('rect').attr('fill', 'url(#seg_bg)')
        let p = d3.line()
            .x(function (d) {
                return seg_scale(d[0]);
            }) // apply the x scale to the x data
            .y(function (d) {
                return seg_scale(d[1]);
            }) // apply the y scale to the y data


        let cell_g = seg_g.selectAll('.data-' + di)
            .data(Object.values(data_sets[di]['segmentation'][timestep]))
            .enter()
            .append('g')
            .attr('class', (d, i) => 'cell cell-' + Object.keys(data_sets[di]['segmentation'][timestep])[i] + ' data-' + di)


        cell_g.selectAll('path')
            .data(function (d) {
                {#console.log('data', d);#}
                return d
            })
            .enter()
            .append('path')
            .attr('stroke', color_tableau(di))
            .attr('d', function (d) {
                return p(d)
            })
            .style('fill', color_tableau(di))
            .style("stroke-width", 0.2)
            .style('stroke-opacity', 0.5)
            .style('fill-opacity', 0.3)

    }

    function draw_table() {

        let table_svg = d3.select('#table_svg'),
            table_width = table_div.clientWidth,
            table_row_height = 25,
            table_padding_left = 10

        table_svg.attr('width', table_width)
            .attr('overflow', 'auto')

        let table_header = table_svg.select('.header')


        table_header.append('rect')
            .attr('y', 0)
            .attr('width', table_width)
            .attr('height', table_row_height)
            .attr('fill', '#f0f4f9')
        table_header.append('text')
            .text('ID')
            .attr('y', table_row_height / 2)
            .attr('x', table_padding_left)
            .attr('alignment-baseline', 'central')


        table_header.append('text')
            .text('BIRTH')
            .attr('y', table_row_height / 2)
            .attr('x', table_padding_left + 100)
            .attr('alignment-baseline', 'central')

        table_header.append('text')
            .text('DEATH')
            .attr('y', table_row_height / 2)
            .attr('x', table_padding_left + 300)
            .attr('alignment-baseline', 'central')

        let data_idxs = [0, 2]

        let map = new Map();
        data_sets[data_idxs[0]]['lineage'].forEach(item => map.set(+item['id'], [[data_idxs[0], +item['parent'], +item['birth'], +item['death']]]))
        for (let i = 1; i < data_idxs.length; i++) {
            let draw_data = data_sets[data_idxs[i]]['lineage'];
            draw_data.forEach(function (item) {
                if (map.has(+item['id'])) {
                    let arr = map.get(+item['id'])
                    arr.push([data_idxs[i], +item['parent'], +item['birth'], +item['death']])
                    map.set(+item['id'], arr)
                } else {
                    map.set(+item['id'], [[data_idxs[i], +item['parent'], +item['birth'], +item['death']]])
                }
            })
        }

        let keys = Array.from(map.keys())
        keys.sort(function (a, b) {
            return a - b
        })
        let mergedArr = Array.from(keys, key => [key, map.get(key)]);
        console.log(mergedArr)
        table_svg.attr('height', mergedArr.length * table_row_height)
        let rows = table_svg.select('.table-rows').selectAll('.table_row')
            .data(mergedArr)
            .enter()
            .append('g')
            .attr('class', 'table_row')
            .attr('transform', (d, i) => 'translate(0,' + ((i + 2) * table_row_height) + ')')
        rows.append('text')
            .text(d => d[0])
            .attr('alignment-baseline', 'central')
            .attr('x', table_padding_left)
            .attr('y', -table_row_height / 2)

        rows.append('rect')
            .attr('fill', 'none')
            .attr('stroke-width', '0.5px')
            .attr('stroke', 'silver')
            .attr('stroke-dasharray', '4')
            .attr('stroke-linecap', 'butt')
            .attr('x', 0)
            .attr('y', -table_row_height)
            .attr('height', table_row_height)
            .attr('width', table_width)

        {#rows.append('text')#}
        {#    .text(d => d[0])#}
        {#    .attr('x', 50)#}


        let table_cell_life_scale = d3.scaleLinear()
            .domain([0, num_timestep - 1])
            .range([0, table_width - 100])

        rows.selectAll('.life-rect')
            .data(function (d) {
                return d[1]
            })
            .enter()
            .append('rect')
            .attr('class', 'life-rect')
            .attr('x', d => 100 + table_cell_life_scale(d[2]))
            .attr('y', function (d) {
                switch (d[0]) {
                    case 0:
                        return -table_row_height
                    default :
                        return -table_row_height + (data_idxs.indexOf(d[0]) - 1) * (0.25) * table_row_height
                }
            })
            .attr('width', d => table_cell_life_scale(d[3] - d[2]))
            .attr('fill', d => color_tableau(d[0]))
            .attr('height', function (d) {
                switch (d[0]) {
                    case 0 :
                        return table_row_height
                    default:
                        return table_row_height / 4
                }
            })


        rows.selectAll('.cell-exist')
            .data(function (d) {
                return d[1]
            })
            .enter()
            .append('circle')
            .attr('class', 'cell-exist')
            .attr('cx', function (d) {
                switch (d[0]) {
                    case 0:
                        return 50
                    default:
                        return 80
                }
            })
            .attr('cy', function (d) {
                switch (d[0]) {
                    case 0:
                        return -table_row_height/2
                    default :
                        return -table_row_height/2 + (data_idxs.indexOf(d[0]) - 1) * (0.25) * table_row_height
                }
            })
            .attr('fill', d => color_tableau(d[0]))
            .attr('r', function (d) {
                switch (d[0]) {
                    case 0 :
                        return table_row_height/2
                    default:
                        return table_row_height / 8
                }
            })
        {#rows.append('rect')#}
        {#    .attr('x', d => 100 + table_cell_life_scale(d['birth']))#}
        {#    .attr('y', -table_row_height / 2)#}
        {#    .attr('width', d => table_cell_life_scale(d['death'] - d['birth']))#}
        {#    .attr('fill', 'red')#}
        {#    .attr('height', table_row_height / 2)#}
        {##}
        {##}
        {#rows.append('rect')#}
        {#    .attr('x', (d, i) => 100 + table_cell_life_scale(curr_data2[i]['birth']))#}
        {#    .attr('y', -table_row_height / 2)#}
        {#    .attr('width', (d, i) => table_cell_life_scale(curr_data2[i]['death'] - curr_data2[i]['birth']))#}
        {#    .attr('fill', 'blue')#}
        {#    .attr('height', table_row_height / 4)#}

        table_div.addEventListener('scroll', function () {
            table_header.node().setAttribute('transform', 'translate(0,' + this.scrollTop + ')');
        }, false)

        console.log(data_sets)

        let data_sets_num = data_sets.length
        console.log(data_sets[0]['lineage'])
        lineage_div = d3.select('#lineage_div')
        // lineage_div.setAttribute("")

        let lineage_data = Array.from(Array(1800), () => new Array())
        let parent = {}
        let node_data = data_sets[0]['lineage']
        node_data.sort(function(a, b){
            return a.birth-b.birth;
        });
        for(let i=0; i<node_data.length; i++){
            let cur_node = node_data[i]
            parent[cur_node.id]=(cur_node.parent!="0") ? cur_node.parent : cur_node.id            
            for(let j=(+cur_node.birth); j<=(+cur_node.death); j++)
                lineage_data[j].push(+cur_node.id)
        }
        console.log(parent)

        let lineage_svg = lineage_div.select("svg")
        let lineage_line = lineage_svg.append("g")
        let lineage_node = lineage_svg.append("g")
        let lineage_txt = lineage_svg.append("text")
            .attr("font-size", 10)
            .attr("text-anchor", "middle")

        for(let i=0; i<node_data.length; i++){
            for(let j=0; j<lineage_data[i].length; j++){
                lineage_txt.append("tspan")
                    .attr("x", i*20+10)
                    .attr("y", j*20+13)
                    .text(lineage_data[i][j])
                lineage_node.append("circle")
                    .attr("r", 5)
                    .attr("cx", i*20+10)
                    .attr("cy", j*20+10)
                    .attr("fill", () => d3.interpolateRainbow(((+parent[lineage_data[i][j]]) * 728513 % 320) / 320))
                    
                if(i>0){
                    let k;
                    for(k=0; k<lineage_data[i-1].length; k++){
                        if(lineage_data[i][j]==lineage_data[i-1][k]){
                            lineage_line.append("line")
                                .attr("x1", i*20+10)
                                .attr("y1", j*20+10)
                                .attr("x2", (i-1)*20+10)
                                .attr("y2", k*20+10)
                                .attr("stroke-width", 1)
                                .attr("stroke", "black")
                            break;
                        }
                    }
                    if(k<lineage_data[i-1].length) continue;
                    for(k=0; k<lineage_data[i-1].length; k++){
                        if(parent[`${lineage_data[i][j]}`]==parent[`${lineage_data[i-1][k]}`]){
                            lineage_line.append("line")
                                .attr("x1", i*20+10)
                                .attr("y1", j*20+10)
                                .attr("x2", (i-1)*20+10)
                                .attr("y2", k*20+10)
                                .attr("stroke-width", 1)
                                .attr("stroke", "black")
                            break;
                        }
                    }
                }
            }
        }
    }

    let data_sets = [];

    function read_datasets(i) {

        let p = "{% static 'celltrack_vis/data/celltracking_results/' %}" + data_paths[i]
        d3.json(p).then(function (data) {
            data_sets.push(data)
            d3.json(p.replace('RES', 'SEG')).then(function (seg) {
                data_sets[i]['segmentation'] = seg
            })
        })
        {#let dataset = {}#}
        {#dataset['name'] = path#}
        {#dataset['num_timestep'] = data_paths[path]#}
        {#dataset['num_cell'] = 0#}
        {#dataset['segmentation'] = null#}
        {#dataset['lineage'] = null#}

    }

    {#draw_grid()#}


    function draw_menu() {

        for (let path in data_paths) {
            let p = "{% static 'celltrack_vis/data/celltracking_results/' %}" + path
            console.log(p, data_paths[path])
        }
        let menu_svg = d3.select('#menu_svg')
        let menu_rows = menu_svg.selectAll('g')
            .data(Object.keys(data_paths))
            .enter()
            .append('g')
            .attr('transform', (d, i) => 'translate(0,' + (i * 20 + 20) + ')')
        menu_rows.append('rect')
            .attr('x', 0)
            .attr('y', -10)
            .attr('width', 10)
            .attr('height', 10)
            .attr('stroke', 'black')
            .on('click', function (d) {
                draw_table()
            })
        menu_rows.append('text')
            .text(d => d)
            .attr('x', 20)
        menu_rows.append('text')
            .text(d => data_paths[d])
            .attr('x', 220)

        // TODO : timestep change
        num_timestep = 1763
    }

    // timeline
    function draw_timeline() {
        let time_svg = d3.select('#time_svg')
        let time_scale = d3.scaleLinear().domain([0, num_timestep]).range([0, 1000])
        let slider = time_svg.append('g')
            .attr('class', 'slider')
            .attr('transform', 'translate(20, 50)')

        let currentValue = 0
        slider.append("line")
            .attr("class", "track")
            .attr("x1", time_scale.range()[0])
            .attr("x2", time_scale.range()[1])
            .select(function () {
                return this.parentNode.appendChild(this.cloneNode(true));
            })
            .attr("class", "track-inset")
            .select(function () {
                return this.parentNode.appendChild(this.cloneNode(true));
            })
            .attr("class", "track-overlay")
            .call(d3.drag()
                .on("start", function () {
                    console.log('start')
                    slider.interrupt();
                })
                .on("drag", function (event) {

                    {#d3.select(this).attr('cx',event.x)#}
                    currentValue = Math.ceil(event.x);
                    update(time_scale.invert(currentValue));

                })
            );


        slider.insert("g", ".track-overlay")
            .attr("class", "ticks")
            .attr("transform", "translate(0," + 18 + ")")
            .selectAll("text")
            .data(time_scale.ticks(10))
            .enter()
            .append("text")
            .attr("x", time_scale)
            .attr("y", 10)
            .attr("text-anchor", "middle")
            .text(function (d) {
                return (d);
            });

        let handle = slider.insert("circle", ".track-overlay")
            .attr("class", "handle")
            .attr("r", 9);

        let label = slider.append("text")
            .attr("class", "label")
            .attr("text-anchor", "middle")
            .text(0)
            .attr("transform", "translate(0," + (-25) + ")")

        function update(h) {
            // update position and text of label according to slider scale
            console.log('update', h)
            h = Math.floor(h)
            h = Math.max(0, h)
            h = Math.min(num_timestep, h)
            handle.attr("cx", time_scale(h));
            label.attr("x", time_scale(h))
                .text(h);
            seg_g.selectAll('.cell').remove()
            {#seg_svg.select('dfs').selectAll('.cell').remove()#}
            draw_cells(0, h)
            draw_cells(2, h)
            // filter data set and redraw plot

        }

        let zoom = d3.zoom()
            .scaleExtent([1, 3])
            .on('zoom', function (event) {

                d3.select('#seg_main_container')
                    .attr('transform', event.transform)
            })
        seg_svg.call(zoom)
            .call(zoom.transform, d3.zoomIdentity.translate(0, 0).scale(1))

        function zoomed() {
            console.log('zoomed')
            {#let mapMainContainer = d3.select('#seg_main_container')#}
            {#    .attr('transform', function (event) {#}
            {#        return event.transform#}
            {#    })#}
            {##}
            {#minimap.select('#minimapRect').remove();#}
            {##}
            {#let mapWidth = parseFloat(d3.select('#map').style('width'));#}
            {#let mapHeight = parseFloat(d3.select('#map').style('height'));#}
            {#let factor = mapWidth / d3.select('#map svg').attr('viewBox').split(' ')[2]#}
            {##}
            {#let dx = d3.event.transform.x / d3.event.transform.k;#}
            {#let dy = d3.event.transform.y / d3.event.transform.k;#}
            {##}
            {#let minimapRect = minimap.append('rect')#}
            {#    .attr('id', 'minimapRect')#}
            {#    .attr('width', mapWidth / factor / d3.event.transform.k)#}
            {#    .attr('height', mapHeight / factor / d3.event.transform.k)#}
            {#    .attr('stroke', 'red')#}
            {#    .attr('stroke-width', 10)#}
            {#    .attr('fill', 'none')#}
            {#    .attr('transform', `translate(${-dx},${-dy})`);#}
        }
    }

    {# structure #}
    let paths = [
        'BF-C2DL-HSC/KIT-Sch-GE/01_RES.json',
        'BF-C2DL-HSC/KIT-Sch-GE/02_RES.json',
        'BF-C2DL-HSC/MU-Lux-CZ/01_RES.json',
        'BF-C2DL-HSC/MU-Lux-CZ/02_RES.json'
    ];
    let grouped = []; // key state for rendering
    let last_clicked = -1;
    let active = {};
    let checked = {};
    let dialog_opened = false;
    let dialog_idx = -1; // 0 for data load, 1 for select color
    let dialog = {'idx': -1, 'opacity': 1.0, 'color': '#FFFFFF'};
    let checked_list = []; // array which file is checked
    let k = [{'a': 1}, {'a': 2}, {'a': 3}];

    function group_by_dir(paths) {
        let group = [];
        let idx = 0;

        for (let path of paths) {
            const splitted = path.split('/');
            let current_group = group;

            for (let [index, part] of splitted.entries()) {
                if (index === Object.keys(splitted).length - 1 && part.includes('.')) { // check if node is leaf node
                    active[idx] = false;
                    checked[idx] = false;
                    current_group.push({
                        name: part,
                        type: part.split('.').pop(),
                        fullPath: path,
                        idx: idx++,
                    });
                    continue;
                }

                let next = current_group.find(el => el.name === part);
                if (next) {
                    current_group = next.children;
                } else {
                    active[idx] = false;
                    checked[idx] = false;
                    current_group.push({
                        name: part,
                        type: 'dir',
                        children: [],
                        idx: idx++,
                    });
                    current_group = current_group[current_group.length - 1].children;
                }


            }
        }
        return group;
    }

    function render_paths(grouped) {
        let structure = document.getElementById('structure'); // place to draw
        let checked_area = document.getElementById('checked_div'); // place to draw checked
        let overlay = document.getElementsByClassName('overlay')[0];

        document.getElementsByClassName('data-load-button')[0].addEventListener('click', () => {
            dialog_opened = true;
            dialog_idx = 0;
            set_dialog();
            render_paths(grouped);
        });

        function render_checked() {
            let html = '';
            checked_list.forEach(element => {
                html += `<div class='checked-row row-content' idx=${element['idx']}>
                            <div class='checked-row-content'>
                                <div class='checked-color'>
                                    <div class='checked-color-inner' style='background-color: ${element['color']}; opacity: ${element['opacity']}'></div>
                                </div>
                                <div class='checked-content'>${element['path']}</div>
                            </div>
                            <span class='mdi mdi-close close'></span>
                        </div>`;
            });

            checked_area.innerHTML = html;

            function update_checked_row() {
                let new_checked_list = [];
                let checked_row = Array.from(document.getElementsByClassName('checked-row'));
                checked_row.forEach(element => {
                    let idx = Number(element.getAttribute('idx'));
                    let item = checked_list.find(inner => inner['idx'] === idx);
                    new_checked_list.push(item);
                });
                checked_list = new_checked_list; // deep copy
            }

            $('#checked_div').sortable({
                cursor: "row-resize",
                items: $('.checked-row'), 
                stop: update_checked_row
            }).disableSelection();
        }

        function on_clicked(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            let idx = e.target.getAttribute('idx');
            last_clicked = Number(idx);
            active[idx] = !active[idx];
            render_paths(grouped);
        }

        function on_checked(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            let idx = e.target.parentNode.getAttribute('idx');
            if(e.target.getAttribute('type') === 'checkbox') {
                last_clicked = Number(idx);
            } else {
                last_clicked = -1;
            }
            checked[idx] = !checked[idx];
            render_paths(grouped);
        }

        function on_color_clicked(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            let idx = Number(e.target.parentNode.parentNode.parentNode.getAttribute('idx'));
            const selected_item = checked_list.find(element => element['idx'] === idx);

            dialog['idx'] = Number(selected_item['idx']);
            dialog['color'] = selected_item['color'];
            dialog['opacity'] = selected_item['opacity'];
            dialog_opened = true;
            dialog_idx = 1;

            set_dialog();
        }

        function on_dialog_changed(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            if(e.target.getAttribute('type') === 'range') {
                dialog['opacity'] = e.target.value;
            } else if(e.target.getAttribute('type') === 'color') {
                dialog['color'] = e.target.value;
            }
        }

        function on_dialog_close_clicked(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            dialog_opened = false;
            dialog_idx = -1;
            set_dialog();
        }

        function on_dialog_submit_clicked(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            dialog_opened = false;
            let idx = dialog['idx'];
            checked_list = checked_list.map(element => (element['idx'] === idx ? 
                {...element, opacity: dialog['opacity'], color: dialog['color']} : element)
            );
            set_dialog();
            render_paths(grouped);
        }

        function set_event_listener(add = true) {
            let rows = document.getElementsByClassName('file-row');
            for (let row of rows) {
                if (add) {
                    row.addEventListener('click', on_clicked);
                } else {
                    row.removeEventListener('click', on_clicked);
                }
            }

            let checkboxes = document.getElementsByClassName('row-checkbox');
            for (let checkbox of checkboxes) {
                if (add) {
                    checkbox.addEventListener('click', on_checked);
                } else {
                    checkbox.removeEventListener('click', on_checked);
                }
            }

            let delete_buttons = document.getElementsByClassName('close');
            for(let delete_button of delete_buttons) {
                if(add) {
                    delete_button.addEventListener('click', on_checked);
                } else {
                    delete_button.removeEventListener('click', on_checked);
                }
            }

            let color_pickers = document.getElementsByClassName('checked-color');
            for(let color_picker of color_pickers) {
                if(add) {
                    color_picker.addEventListener('click', on_color_clicked);
                } else {
                    color_picker.removeEventListener('click', on_color_clicked);
                }
            }
            let dialog_close_button = document.getElementById('dialog-close-button');
            if(!dialog_close_button) { // if overlay not exists
                return;
            }

            if(add) {
                dialog_close_button.addEventListener('click', on_dialog_close_clicked);
            } else {
                dialog_close_button.removeEventListener('click', on_dialog_close_clicked);
            }

            let dialog_button = document.getElementById('dialog-button');
            if(add) {
                dialog_button.addEventListener('click', on_dialog_submit_clicked);
            } else {
                dialog_button.removeEventListener('click', on_dialog_submit_clicked);
            }

            let opacity = document.getElementById('opacity');
            if(add) {
                opacity.addEventListener('change', on_dialog_changed);
            } else {
                opacity.removeEventListener('change', on_dialog_changed);
            }

            let color = document.getElementById('color');
            if(add) {
                color.addEventListener('change', on_dialog_changed);
            } else {
                color.removeEventListener('change', on_dialog_changed);
            }

            let structure_close_button = document.getElementById('structure-close-button');
            if(!structure_close_button) { // if overlay not exists
                return;
            }

            if(add) {
                structure_close_button.addEventListener('click', on_dialog_close_clicked);
            } else {
                structure_close_button.removeEventListener('click', on_dialog_close_clicked);
            }
        }

        function set_dialog() {
            if(dialog_opened) {
                overlay.style.display = 'flex';
            } else {
                overlay.style.display = 'none';
            }

            if(dialog_idx === 0) {
                document.getElementById('structure-outer').style.display = 'block';
                document.getElementsByClassName('dialog')[0].style.display = 'none';
            } else {
                document.getElementById('structure-outer').style.display = 'none';
                document.getElementsByClassName('dialog')[0].style.display = 'block';
            }

            document.getElementById('opacity').value = dialog['opacity'];
            document.getElementById('color').value = dialog['color'];
        }

        function add_row(element, depth) {
            let {name, type, fullPath, idx} = element;
            const isChecked = checked[idx];
            const isActive = active[idx];

            if(isChecked) {
                const item = checked_list.find(el => el['idx'] === idx);
                if(!item) checked_list.push({'idx': idx, 'path': fullPath, color: '#FFFFFF', opacity: 1.0}); // push only if item is not exists
            } else {
                checked_list = checked_list.filter(el => el['idx'] !== idx);
            }

            switch (type) {
                case 'json':
                    return `<div class='file-row depth-${depth}'>
                                        <div class='row-content ${last_clicked === idx ? 'row-content--active' : ''}' idx='${idx}'>
                                            <span class="mdi mdi-file json"></span>${name}
                                            <input type='checkbox' class='row-checkbox' ${isChecked ? 'checked' : ''}>
                                        </div>`;
                case 'dir':
                    let html = `<div class='file-row depth-${depth}'><div class='row-content ${last_clicked === idx ? 'row-content--active' : ''}' idx='${idx}'>`;
                    if (isActive) {
                        html += `<span class="mdi mdi-folder-open dir"></span>${name}</div>`;
                    } else {
                        html += `<span class="mdi mdi-folder-outline dir"></span>${name}</div>`;
                    }
                    return html;
            }
        }

        function add_rows(current, depth) {
            let html = '';
            for (let element of current) {
                let {idx} = element;
                html += add_row(element, depth);
                if (!('children' in element)) { // leaf node
                    html += '</div>';
                    continue;
                } else if (active[idx]) {
                    html += add_rows(element.children, depth + 1);
                }
                html += '</div>';
            }
            return html;
        }

        set_event_listener(add = false);

        let html = add_rows(grouped, 1);
        structure.innerHTML = html;
        render_checked(checked_list);

        set_event_listener(add = true);

        set_dialog();
    }

    grouped = group_by_dir(paths);
    render_paths(grouped);


    function draw_linegraph() {
        let x = d3.scaleLinear().range([0, num_timestep]),
            y = d3.scaleLinear().range([100, 0]),
            valueline = d3.line().x((d, i) => i)
                .y((d) => d)
        let svg = d3.select('#linegraph_svg')
        let line_data = [];
        for (let i = 0; i < num_timestep; i++) {
            line_data.push(Math.floor(Math.random() * 100))
        }
        svg.append("path")
            .data([line_data])
            .attr('class', 'line')
            .attr('d', valueline)
            .attr('fill', 'none')
            .attr('stroke', 'black')
            .attr('stroke-width', '0.5px')

        svg.append("g")
            .attr("transform", "translate(0," + 100 + ")")
            .call(d3.axisBottom(x));

    }

    read_datasets(0)
    read_datasets(1)
    read_datasets(2)
    read_datasets(3)
    draw_grid()
    draw_menu()
    draw_timeline()
    draw_linegraph()

</script>
</body>
</html>